:root {
  --bg-blue: #0ea5e9;
  --bg-blue-hover: #bae6fd;

  --font-light: #f1f5f9;
  --font-dark: #0f172a;
}

.content {
  @apply grid min-h-screen grid-cols-1 bg-gray-50 md:ml-64;

  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
