.sidebar {
  --side-gap: 2rem;
  --section-gap: 4rem;

  --bg-sidebar: var(--bg-blue);
  --bg-link-hover: var(--bg-blue-hover);
  --color-link-hover: var(--font-dark);
  --font-color: var(--font-light);
  --logo-color: var(--font-dark);

  grid-area: sidebar;

  background-color: var(--bg-sidebar);
  color: var(--font-color);
  padding: var(--side-gap) 0;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0 var(--side-gap);
    margin-bottom: var(--section-gap);
    color: var(--font-color);
    cursor: default;
  }

  &__logo span {
    color: var(--logo-color);
    font-size: 3rem;
  }

  &__logo h1 {
    margin: 0;
  }

  &__nav ul {
    padding: 0;
    margin-bottom: var(--section-gap);
  }

  &__nav a {
    --transition: 0.1s;

    display: flex;
    justify-content: center;
    gap: 1.5rem;

    font-size: 1.5rem;
    font-weight: 500;

    padding: 1rem var(--side-gap);

    transition: all var(--transition);
  }

  &__nav .hover-dummy {
    flex: 1;
    transition: flex 0.1s;
  }

  &__nav a:hover,
  &__nav a:focus {
    background-color: var(--bg-link-hover);
    color: var(--color-link-hover);
    gap: 0.5rem;
  }

  &__nav a:hover .hover-dummy,
  &__nav a:focus .hover-dummy {
    flex: 0;
  }
}
